<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key><string>Picture Man</string>
  <key>CFBundleDisplayName</key><string>Picture Man</string>
  <key>CFBundleIdentifier</key><string>ai.yovico.pictureman</string>
  <key>CFBundleExecutable</key><string>pictureman</string>
  <key>CFBundleIconFile</key><string>pictureman</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleVersion</key><string>@VERSION@</string>
  <key>CFBundleShortVersionString</key><string>@VERSION@</string>
  <key>LSMinimumSystemVersion</key><string>11.0</string>
  <key>NSHighResolutionCapable</key><true/>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key><string>Image</string>
      <key>CFBundleTypeRole</key><string>Editor</string>
      <key>LSItemContentTypes</key>
      <array><string>public.image</string></array>
    </dict>
  </array>
</dict>
</plist>
